body {
    margin: 0 auto;
}

header {
    background-color: #fff;
    display: flex;
    padding: 10px 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.cart {
    margin-left: auto;
    position: relative;
}

.cart-container {
    position: absolute;
    right: 0;
    top: 35px;
    min-width: 400px;
    min-height: 200px;
    background-color: #fff;
    border: 1px solid #f6f6f6;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}



.container {
    max-width: 1280px;
    padding: 0 20px;
    display: flex;
    margin: 0 auto;
}

.header .container {
    position: relative;
}

.cart-button {
    width: 100px;
    height: 20px;
    border-radius: 3px;
    background-color: #00fffe;
}
.goods-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.goods-item {
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    width: calc(100% / 5 - 100px);
    background-color: #ffffff;
}
.title-goods-item {
    width: 150px;
    height: 60px;
}
.buy-item {
    background-color: gray;
    color: white;
}

.cart-container {
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    width: 220px;
    height: 100px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.not-found-items {
    text-align: center;
}